.blogHeader {
  background: url(../assets/blog-header-1.jpg) center;
  background-size: cover;
  height: 80vh;
  

  .contentContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 300px;
  }
  
}

.contactHeader {
  background: url(../assets/contact-header-1.jpg) center;
  background-size: cover;
  height: 80vh;

  .contentContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 300px;
  }
}

.homeHeader {
  background: url(../assets/home-image-1.jpg) center;
  background-size: cover;
  height: 80vh;

  .headerContent {
    position: relative;
    .contentContainer{
      position: absolute;
      z-index: 2;
    }

    .headerImgContainer {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin: 100px 0 0 300px;
      z-index: 1;
     
    }
  }
 
}
