@media (max-width: 768px) {
    .gallery {
        ul {
            flex-direction: column;
        
            li {
                margin: 0 auto 20px;
            }
        }
    }

    .founder {
        .wrapper {
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            .imageContainer {
                margin-left: 100px;
            }
            .textContainer {
                margin: 0 auto 40px;
            }
        }
        h4 {
            margin: 50px 0 20px 0;
        }

        button {
            width: 90%;
        }
    }

    .icons {
        .wrapper{
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            .contentContainer {
                width: 100%;
            }
        }
    }

    .workshop {
        .wrapper {
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;

            .workshopImgContainer,
            .discoverImgContainer {
                img {
                    position: static;
                }
            }

            
            .discoverContent {
                padding: 100px 0 0 0;
            }

            .discoverContent,
            .workshopContent {
                text-align: center;
                button {
                    width: 80%;
                }
            }
        }
    }

    .about {
        .wrapper {
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
        }
    }
//blog-section

    .container {
        flex-direction: column;

       .recent,
       .mission {
           width: 100%;
           padding: 0;

           .recentImgContainer {
                margin-top: 50px;
                img {
                    margin: 0 auto;
                    width: 100%;
                    box-shadow: none;
                }
           }

           .recentContent {
               width: 100%;
               margin: 0 0 200px 0;
           }

           .commentContainer {
               .textContainer {
                   padding-left: 20px;
               }
           }

           .contactForm {
               padding: 20px;
                
               .submit {
                margin: 0 20px 20px 60px;
               }
           }
       }

    }

}























// end of home Page
// start of the contact page for
