section {
  padding: 100px;
}

.gallery {
  background-size: cover;
}

.gallery h2 {
  text-align: center;
  margin-bottom: 40px;
}

.gallery ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery li {
  flex-basis: 31%;
  margin-bottom: 20px;
}
