section,
article {
  padding: 100px;
}

.gallery {
  background-size: cover;

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    flex-basis: 31%;
  }
}

.about {
  padding: 200px;
  background-color: $white;
  .aboutContainer {
    text-align: center;
  }
}

.founder {
  background: $white;
  display: flex;

  .imageContainer {
    width: 40%;
  }

  img {
    box-shadow: 20px 0px 0px -20px $yellow, 19px 20px 0px 4px $yellow;
  }

  .textContainer {
    width: 60%;
  }

  .solid {
    margin-top: 20px;
  }
}

.workshop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  .workshopImgContainer {
    position: relative;
    margin-bottom: 120px;
    img {
      bottom: 0;
      position: absolute;
      box-shadow: 20px 0px 0px -20px $yellow, 20px 20px 0px 0px $yellow;
    }
  }

  
  .workshopContent,
  .workshopImgContainer,
  .discoverContent,
  .discoverImgContainer {
    flex-basis: 40%;
  }

  
  
  .discoverImgContainer {
   position: relative;
    margin-top: 150px;
    img {
      position: absolute;
      box-shadow: 20px 0px 0px -20px $yellow, -20px 20px 0px 0px $yellow;
    }
  }
}

.icons {
  //wrap each link in an icon and put them in a div below 
  //flex-basis of 51
  //flex basis on img container and each container has a negative margin 
  background-color: $white;
  .four-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    .contentContainer {
      margin: 0 auto;
      width: 40%;
      display: flex;
    }


    h5 {
      margin: 15px 0;
    }

   i {
     margin: 25px 20px 0 0;
   }

   
  }
}

.banner-image {
  background: url(../assets/banner-image.jpg) center;
  background-size: cover;
  height: 50vh;
}


 


