//site Fonts
$headingFont: "Josefin Sans";
$bodyFont: "Roboto";

//if we set our root element fort-size to 125% 1 rem = 20px
$baseFontSize: 1rem;

//Size COLOURS
$white: #F0EFED;
$forest: #074115;
$yellow: #F8E71C;
$green: #0E902D;
$black: #2C2C2C;

